.body {
	/* min-height: 100%; */
	/* display: flex; */
	/* flex-direction: column; */
  /* object-fit: contain; */
  background-color: #fff;
}



.SettingText {
  text-align:left;
  /* padding: 13%; */
  /* padding-bottom: -100px; */
  padding-left:148px;
  /* margin-top: 30px; */
  padding-top: 30px;
}

.containermain{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background-color: blue; */
  
}


.parentCard {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
  /* background-color: red; */

  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  margin: 10px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.container {
  padding: 2px 16px;
}
.logosvg{
  margin-top: 15px;
  height: 30px;
  width: 30px;


}
.subText{
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: -5px;
color: #222222;
font-family: "Roboto-SemiBold", Helvetica;
font-size: 16px;
}